%ul{ class: "quick-actions" }
  %li
    = link_to "#{t('site.quick_actions.important_issues')} (11)"
    %ul
      %li
        = link_to "Decizii (1)"
        %ul
          %li
            = link_to "", "", class: "attachment icon-small-pdf"
            = link_to "", "", class: "attachment icon-small-excel"
            = link_to "", "", class: "attachment icon-small-word"
            = link_to "Integer posuere erat a ante venenatis dapibus posu lorem ip...", "", class: "three"
      %li= link_to "Stiri (0)"
      %li
        = link_to "Resurse Umane (4)"
        %ul
          %li= link_to "John Doe is the head of HR Department - Sep 23, 2013"
          %li= link_to "Help Desk Department is now sub-division of IT Department"
          %li= link_to "Jane Doe is a new employeee in IT Department - Sep 23, 2013"
          %li= link_to "John Doe is the head of HR Department - Sep 23, 2013"
          %li= link_to "John Doe is the head of HR Department - Sep 23, 2013"
          %li= link_to "Help Desk Department is now sub-division of IT Department"
          %li= link_to "Jane Doe is a new employeee in IT Department - Sep 23, 2013"
          %li= link_to "John Doe is the head of HR Department - Sep 23, 2013"
          %li= link_to "Help Desk Department is now sub-division of IT Department"
          %li= link_to "Jane Doe is a new employeee in IT Department - Sep 23, 2013"
          %li= link_to "John Doe is the head of HR Department - Sep 23, 2013"
          %li= link_to "John Doe is the head of HR Department - Sep 23, 2013"
      %li
        = link_to "Documente (10)"
        %ul
          %li
            = link_to "", "", class: "attachment icon-small-pdf"
            = link_to "", "", class: "attachment icon-small-excel"
            = link_to "", "", class: "attachment icon-small-word"
            = link_to "Integer posuere erat a ante venenatis dapibus posu lorem ip...", "", class: "three"
          %li
            = link_to "Integer posuere erat a ante venenatis dapibus posu lorem ipsum dol..."
          %li
            = link_to "", "", class: "attachment icon-small-pdf"
            = link_to "", "", class: "attachment icon-small-word"
            = link_to "Integer posuere erat a ante venenatis dapibus posu lorem ipsu...", "", class: "two"
          %li
            = link_to "Integer posuere erat a ante venenatis dapibus posu lorem ipsum dol..."
          %li
            = link_to "Integer posuere erat a ante venenatis dapibus posu lorem ipsum dol..."
          %li
            = link_to "Integer posuere erat a ante venenatis dapibus posu lorem ipsum dol..."
          %li
            = link_to "", "", class: "attachment icon-small-excel"
            = link_to "Integer posuere erat a ante venenatis dapibus posu lorem ipsum ...", "", class: "one"
          %li
            = link_to "", "", class: "attachment icon-small-pdf"
            = link_to "Integer posuere erat a ante venenatis dapibus posu lorem ipsum ...", "", class: "one"
          %li
            = link_to "Integer posuere erat a ante venenatis dapibus posu lorem ipsum dol..."
          %li
            = link_to "Integer posuere erat a ante venenatis dapibus posu lorem ipsum dol..."
          %li
            = link_to "Integer posuere erat a ante venenatis dapibus posu lorem ipsum dol..."
  %li
    = link_to "#{t('site.quick_actions.latest_searches')} (10)"
.note
  .icon-info-sign
  = t 'site.quick_actions.note'
