!!!
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
<!--[if (gte IE 9)|!(IE)]><!-->
%html{ lang: "en" }<>
  <!--<![endif]-->
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %title= content_for?(:title) ? yield(:title) : "HR Map"
    = stylesheet_link_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/custom.modernizr"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .wrapper
      %section{ class: "sidebar" }
        = render partial: "shared/sidebar"
      %header
        %nav
          .row
            .large-6{ class: "columns" }
              %ul{ class: "sidebar" }
                %li= link_to "", "", class: "icon icon-quick-actions", id: "quick-actions-link"
            .large-6{ class: "columns" }
              = render partial: "shared/top_nav"
      %section{ class: "content" }
        = yield
      %footer
        = t('site.footer.copyright', year: Time.now.year, company: SETTINGS[:company], powered_by: link_to("HR Map", "https://github.com/ducknorris/hrmap", target: "_blank")).html_safe
